.achievements-container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  align-items: center;
  margin: 0;
  padding-top: 120px;
  margin-bottom: 80px; /* Add a bottom margin to create space for the footer */
  text-align: justify;
}

.achievement-logo-container {
  display: flex;
  position: fixed;
  border: 1px solid white;
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  top: 4vh;
  z-index: 999;
}

/* Add or modify styles as needed */
body {
  background-color: #fff;
}

.achievements-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.achievement {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  width: calc(33.33% - 20px); /* Adjust the width to fit 4 items in a row */
  box-sizing: border-box;
}

.achievement-image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  margin-top: 10px;
}

.highlight {
  font-weight: bold;
  color: var(--link-color);
}

.achievement:hover {
  transform: scale(1.02);
}

.style {
  background-image: linear-gradient(rgb(224, 112, 112), rgb(241, 89, 89));
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: 0% 110%;
  transition: background-size 0.7s, background-position 0.5s ease-in-out;
}

.style:hover {
  background-size: 100% 100%;
  background-position: 100% 0%;
  transition: background-position 0.7s, background-size 0.5s ease-in-out;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.location {
  font-size: 13px;
  color: var(--secondary-color);
}

.position {
  font-size: 15px;
}

.achievement-role {
  font-size: 15px;
  font-weight: 500;
}

/* Media query for laptops */
@media (max-width: 1024px) {
  .achievement {
    width: calc(33.33% - 20px); /* 3x grid for laptops */
  }
}

/* Media query for mobile */
@media (max-width: 768px) {
  .achievement {
    width: calc(100% - 20px); /* 1x grid for mobile */
  }
}
